/* Basic CSS modifications */

@font-face {
    font-family: "Nouvea";
    src: url('../fonts/NouveauFLF.ttf');
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif;
    font-size-adjust: 0.6;
    line-height: 2.0;
}

h1, h2, h3 {
    font-family: Nouvea;
}

/* Side CSS Menu */

#sidebar-wrapper {
    margin-right: -250px;
    right: 0;
    width: 250px;
    background: #000;
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 1000;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar-nav li {
    line-height: 40px;
    text-indent: 20px;
}

.sidebar-nav li a {
    color: #999999;
    display: block;
    text-decoration: none;
}

.sidebar-nav li a:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
    text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 1;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.toggle {
    margin: 5px 5px 0 0;
}

/* Custom CSS Elements */

.background {
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: 100%;
    background-size: cover;
    background-color: papayawhip;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    background-image: url('../img/full1080/_D3S4297%20A%20gen%20Kirk%206-2014.jpg');
}

.jumbotron {
    background-color: transparent;
    color: #fff;
}

.block {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: papayawhip;
}

.call-to-action {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    background-color: #5cb85c;
}

.footer {
    background-color: #1E72BE;
    color: #FFF;
    padding-top: 75px;
    padding-bottom: 75px;
    font-size-adjust: none;
}

.interlude {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
}

#home {
    position: relative;
    min-height: 100%;
    width: 100%;
    background-color: transparent;
}

#home > div {
    display: table;
    min-height: 100%;
    width: 100%;
}

#home > div > div {
    display: table-cell;
    vertical-align: middle;
}

#home > div > div > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > h1:nth-child(1) {
    font-size: 72px;
}

#home .row {
    margin-top: 0px;
}

.map {
    position: relative;
    width: 100%;
    background-color: papayawhip;
}

#location > .container {
    padding: 50px 0px;
}

#map {
    position: relative;
    height: 400px;
    width: 100%;
}

i.service-icon {
    margin-top: 30%;
    position: relative;
    border: 3px solid #FFF;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    font-size: 56px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
    background-color: rgba(255, 200, 115, 0.9)
}

.fa {
    color: #fff;
}

.container, .container-fluid {
    overflow-x: hidden;
}